
.banner__container{
    display: flex;
    flex-flow: column nowrap;
    gap: 30px 0px;
    align-items: center;
    justify-content: center;
    height: 700px;
    background: #708ec0;
    color: white;
}
.textInfo_container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 95%;
    min-width: 50%;

}

.title__banner{
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    font-size: 6vw;
    text-align: center;
}
.text_banner_descrption{
    width: 90%;
    text-align: center;
    font-size: 2.2vw;
}
.profession_text{
    font-size: 5vw;
}

.img_banner_container{
    display: flex;
    gap: 20px 0px;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.img_banner_container img{
    width: 60vw;
    border-radius: 50%;
}
.info__container{
   display: flex;
   gap: 0px 30px;
   justify-content: center;
   align-items: center;
   width: 300px;
   height: 70px;
}


.img_container img:hover,
.img_container img:focus{
    transition: transform 0.1s ease-in;
    transform: scale(1.1) rotate(11deg); ;
}



.desktop_title{
    display: none;
}

@media (min-width: 550px){
    .img_banner_container img{
        width: 30vw;
    }
}
@media (min-width: 1024px){
    
    .banner__container{
        display: flex;
        flex-flow: row nowrap;
        height: 100vh;
    }
    .mobile_title{
        display: none;
    }
    .desktop_title{
        display: flex;
    }
    .title__banner{
        grid-area: titleBanner;
    }
    .img_banner_container{
        width: 500px;
        height: 500px;
        grid-area: imgBanner;
    }
    .img_banner_container img{
        min-width: 350px;
        max-width: 450px;
        min-height: 350px;
        max-height: 450px;

    }
    .text_banner_descrption{
        grid-area: textBanner;
    }
    .info__container{
        grid-area: infoBanner;
    }

    .profession_text{
        font-size: 1.8vw;
    }
    .text_banner_descrption{
        font-size: 1.3vw;
    }
    .tracking-in-expand {
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
}