nav {
    position: fixed;
    z-index: 21;
    width: 100vw;
    height: 50px;
    background: #344f6a;
}


.btn_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
}

.btn_hamburger {

    width: 30px;
    height: 3px;
    background-color: #ffffff;

    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.btn_hamburger::before,
.btn_hamburger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
}

.btn_hamburger::before {
    transform: translateY(-10px);
}

.btn_hamburger::after {
    transform: translateY(10px);
}

.btn_open {
    transform: translateX(-50px);
    background: transparent;
}

.btn_open::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.btn_open::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

.drawer.open {
    left: 0%;
    transition: all 0.5s;
}

.drawer.closed {
    position: absolute;
    left: -100%;
    transition: 0.5s left ease-in-out;

}

.navLinks {
    width: 100%;
    height: 100vh;
    list-style: none !important;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow-y: auto;
}

.navLinks>ul {
    margin-top: 50px;
    padding: 0;
    list-style: none !important;
}

.navLinks ul li {
    width: 90%;
    margin: 10px auto;
    height: 50px;
}

.navLinks ul li>a {
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(53, 51, 51);
}

.dropdownSession_container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.dropdown_user {
    width: 100% !important;
    display: flex;
    justify-content: center;

}

.dropdownMenu_session {
    width: 90% !important;
    background-color: rgb(85, 83, 83) !important;
    text-align: center;
}

.dropdownMenu_session .myUser_button {
    text-align: center;
    font-size: 1.3rem;
    color: white !important;
}

.logOut_button {
    color: rgb(235, 27, 27) !important;
    text-align: center !important;
    font-size: 1.3rem;
    font-weight: 500 !important;
}

.dropdown_toggle_session {
    width: 90% !important;
}
.textLogin{
    color: rgb(63, 63, 63);
    
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    text-decoration: none;
    background-color: rgb(101, 172, 211);
    color: #ffffff;
}
.textSession{
    display: flex;
    margin: 0 auto;
    width: 90%;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 120px;
    
}

.lang_flags_container {

    display: flex;
    align-items: center;
    gap: 0px 30px;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
}

.lang_flags_container button {
    background-color: transparent !important;
    border: none;
}

.lang_flags_container img {
    width: 64px;
    height: 64px;
}
.desktopFlags_modal{
    display: none;
}

/* @media only screen and (max-height: 768px) and (orientation: landscape){
    .navLink__container_open{
        background-color: green;
        display: flex;
        flex-flow: row nowrap;

    }
} */
@media (min-width: 1024px) {
    .btn_hamburger {
        display: none;
    }

    .drawer.closed {
        left: 0%;
    }

    .navLinks {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-content: center;
        position: fixed;
        z-index: 10;
        height: 50px;
        overflow-y: visible;
        top: 0;
        background: #344f6a;
    }

    .navLinks ul {
        display: flex;
        width: 50%;
        gap: 0px;
        flex-flow: row nowrap;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 0;
    }

    .navLinks ul li {
        text-align: center;
    }

    .navLinks ul li>a {
        color: white !important;
        font-size: 1.2rem;
    }

    .dropdownSession_container {
        margin-top: 5px;
        width: 40%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .dropdown_user {
        width: 50% !important;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .textSession {
        width: 40%;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 0;
        background-color: transparent;
        border: none;
        margin: 0;
    }
    .textLogin{
        color: #ffffff;
        width: 50%;
        background-color: transparent;
        font-size: 1.2rem;
        text-decoration: none;
        padding-bottom: 0;
    }

    .lang_flags_container {
        order: 3;
    }

    .button_modal_flag {
        border-radius: 50%;
        border: none;
        background-color: transparent;
    }

    .desktopFlags_modal {
        order: 3;
        display: flex;
        align-items: center;
    }

    .desktopFlags_modal img {
        width: 48px;
        height: 48px;
    }

    .desktopFlags {
        position: absolute;
        right: 5%;
        top: 110%;
        display: flex;
        flex-flow: column nowrap;
        width: 100px;
        height: 100px;
        background-color: #344f6a;
    }

    .top-bot {
        position: absolute;
        top: -20px;
        right: 5px;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent red transparent;
    }

    .top-bot-border {
        top: -18px;
        border-color: transparent transparent #344f6a transparent;

    }

    .desktopFlags img {
        object-fit: cover;
        width: 48px;
        height: 48px;
    }

    .desktopFlags_off {
        display: none;
    }

    /* .modalFlag_closed{
        display: none;
        transition: display 0.5s all !important;
    }
    .modalFlag_open{
        position: absolute;
        display: flex;
        justify-content: center;
        left: 130%;
        background-color: #383e44;
        width: 200px;
        gap: 0px 10px;
        top: 0;
        transition: display 0.5s all !important;
    } */
}