.myinfo__container{
    width: 100%;
    display: flex;
    height: 600px;
    max-height: 800px;
    margin: 0 auto;
    align-items: center;
}

.whoiam_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    position: relative;
}

.item{
    flex: 1;
}
.item:nth-child(2){
    flex: 3;
}
.title_container{
    text-align: center;
    display: flex;
    align-items: center;

}
.mydescription__container{
    padding-top: 20px;
    width: 90%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} 
.textMyInfo_container{
    font-size: 1.1rem;
}
.buttonCV_container{
    display: flex;
    place-items: center;
}

.buttonCV_link{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: transparent;
    color: rgb(14, 14, 226);
    background-color: rgb(221, 220, 220);
    cursor: pointer;
}


.hover {
    --c:linear-gradient(#1d4be4 0 0); 
    padding-bottom: .15em;
    background: var(--c), var(--c);
    background-size: 3.3em .1em;
    background-position:50% 100%;
    background-repeat: no-repeat;
    transition: .3s linear, background-size .3s .2s linear;
  }
  .hover:hover {
    background-size: 40% .1em;
    background-position: 10% 100%, 90% 100%;
  }
.hoverIcon_on{
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
}
.hoverIcon_off{
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
}
.imgwave{
    position: absolute;
    top: 0;
    margin-top: -3px;
    z-index: -3;
}
.photo_container{
    display: none;
} 

@media (min-width: 1024px){
    .mydescription__container{

        min-width: 80%;
        max-width: 90%;
    }
    .mydescription__container p{
        width: 95%;
    }
    .photo_container{
        display: flex;
        background-color: transparent;
        margin-left: 20px;
    }
    .photo_container img{
        width: 428px;
        height: 600px;
    }
    .textMyInfo_container{
        font-size: 1.2rem;
    }
}