
.footer_container{
    display: flex;
    padding: 10px 20px;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
.svg__footer_container{
    width: 110px;
    display: flex;
    justify-content: space-between;
}